.App {
  text-align: center;
}

.list-and-favorites {
  display: flex;
}


.song-list-side {
  flex: 0 0 60vw; 
  margin-left: 20px;
}

.favorite-song-side {
  flex: 1; /* Take up remaining space */
    padding: 20px; 
    display: flex;
    flex-direction: column;
}

.song-item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow-y: auto;
}

.song-item {
  border: 2px solid #acacac;
    border-radius: 5px;

}

img {
  width: 100%;
}

.favorites-list{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #ccc; 
  padding: 10px;
}

.filter{
  border-radius:30px;

}

.song-name {
  font-weight: bold;
}

.name-and-artist{
  text-align: left;
  margin-left: 20px;
}

.artist-and-star{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-to-favorites{
  margin-right: 20px;
  height:50px;
  width:50px;
  margin-top:20px;
}
