body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.list-and-favorites {
  display: flex;
}

h1{
  padding-top: 20px;
  background-color: rgba(0, 14, 62, 0.553);
  padding: 40px;
  color:aliceblue;
  font-family: "Times New Roman", Times, serif;
}


.song-list-side {
  flex: 0 0 60vw; 
  margin-left: 20px;
}

.favorite-song-side {
  flex: 1; /* Take up remaining space */
    padding: 20px; 
    display: flex;
    flex-direction: column;
    
}

.song-item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow-y: auto;
}

.song-item {
  border: 2px solid #acacac;
    border-radius: 5px;
    
    background-color: rgb(223, 223, 223);
    margin-bottom: 20px;
    color:black;
    
    overflow: hidden; /* Hides any content that overflows the element */
    white-space: nowrap; /* Prevents wrapping of text */
    text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate truncated text */

}

.list-image {
  width: 100%;
  height:50%
}

.favorites-list{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #ccc; 
  padding: 10px;
}

.favorites-leftSide{
  display: flex;
  align-items: center;
}
 
.filter {
  border-radius:4px;
  margin-right:8px;
  float:left;
  border: 1px solid black;
  background-color: white;
}

.filter.selected{
  background-color: lightskyblue;
}



.genre-filter{
  border-radius:30px;
  margin-right:8px;
  float:left;
  border: 1px solid black;
}

.genre-filter.selected{
  background-color: lightskyblue;
}

.song-name {
  font-weight: bold;
}

.name-and-artist{
  text-align: left;
  margin-left: 20px;
}

.artist-and-star{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-to-favorites{
  margin-right: 20px;
  height:50px;
  width:50px;
  margin-top:20px;
}

.add-to-favorites.favorited{
  color:green
}

.additional-elements{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
}

.ratingButtons{
  margin-top:10px;
}

.genreButtons{
  margin-top:10px;
  margin-bottom:10px;
}

.filter-title{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size:15px;
  margin-top:8px;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.remove-from-favorites{
  margin-left:15px;
}

.favorite-image{
  width:30px;
  height:30px;
  margin-left:10px;
  margin-right:10px;
}

.reset-button{
  width: 80px;
  border: 1px solid black;
  background-color: white;
  border-radius:4px;
}

.no-songs-available{
  font-size:30px;
  font-weight: bold;
  margin-top: 50px;
}


.sort-button{
  border-radius:4px;
  margin-right:8px;
  float:left;
  border: 1px solid black;
  background-color: white;
}

.sort-button.selected{
  background-color:lightskyblue;
}

.filter-title{
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

.add-favorite-words{
  font-size:18px;
}