.App {
  text-align: center;
}

.song-list-side {
  flex: 1;
}

.favorite-song-side {
  flex: 0 0 200px; 
  padding: 20px;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc; /* Add a border between the sections */
  box-sizing: border-box; /* Include border in element's width and height */
}

.song-item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow-y: auto;
}

.song-item {
  border: 2px solid #acacac;
  border-radius: 5px;
}

img {
  width: 100%;
}