body {
  margin: 0px;
  padding: 0px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:#FAF9F6;
}

.App {
  text-align: center;
}

.header{
  /* background-color: rgb(15, 21, 42); */
  padding: 25px;
  /* color:rgb(192, 200, 231); */
  color:rgb(15, 21, 42);
  /* font-size:40px; */
  font-size:45px;
  margin: 0px;
  /* position:fixed; */
  display: flex;
  width:100%;
  text-align: center;
  justify-content: center;
  /* font-weight: lighter; */
  border-bottom: 2px solid #ccc;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

.list-and-favorites {
  /* padding-top: 95px; */
  display: flex;
  height: calc(100vh - 100px);
}

.song-list-side {
  flex: 0 0 65vw; 
  margin-left: 20px;
  overflow-y: auto;
}

.favorite-song-side {
  flex: 1; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  top: 0;
  margin-left: 10px;
  border-radius: 20px;
  /* right: 80px; */
  overflow-y: auto;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; 
}

.song-list-side::-webkit-scrollbar {
  display: none; 
}

.song-item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow-y: auto;
}

.song-item {
  border: 2px solid #e3e3e3f3;
   /* #acacac; */
    border-radius: 5px;
    background-color: #e7e7e7c3;
    /* background-color:#DAE0F2; */
    /* background-color:  rgba(0, 14, 62, 0.229); */
    margin-bottom: 20px;
    color:black;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

.song-item:hover{
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
}

.list-image {
  width: 100%;
  height:50%;
  border-radius: 3px;
}

.favorites-list{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #ccc; 
  padding: 10px;
}

.favorites-leftSide{
  display: flex;
  align-items: center;
}
 
.filter {
  border-radius:10px;
  margin-right:8px;
  float:left;
  border: 1px solid rgb(105, 105, 105);
  background-color: rgb(255, 255, 255);
}

.filter:hover{
  background-color: lightgray;
}

.filter.selected{
  background-color: rgb(65, 69, 63);
  color:white;
}



.genre-filter{
  border-radius:30px;
  margin-right:8px;
  float:left;
  border: 1px solid black;
}

.genre-filter.selected{
  background-color: rgb(65, 69, 63);
  color:white;
}

.song-name {
  font-weight: bold;
  font-size:20px;
}

.song-artist{
  font-style: italic;
}

.name-and-artist{
  text-align: left;
  margin-left: 20px;
}

.artist-and-star{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-to-favorites{
  margin-right: 20px;
  height:50px;
  width:50px;
  margin-top:20px;
  background-color: white;
  border: 1px solid grey;
  border-radius:4px;
}

.additional-elements{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 17px;
}

.ratingButtons{
  margin-top:10px;
  margin-left:15px
}

.genreButtons{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:15px
}

.sortingButtons{
  margin-left:15px;
  margin-top:10px;
  

}

.filter-title{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size:15px;
  margin-top:10px;
}

.buttons{
  display: flex;
  flex-direction: column;
}

.remove-from-favorites{
  margin-left:15px;
}

.favorite-image{
  width:30px;
  height:30px;
  margin-left:10px;
  margin-right:10px;
}

.reset-button{
  width: 80px;
  border: 1px solid rgb(105, 105, 105);
  background-color: rgb(255, 255, 255);
  border-radius:10px;
  margin-top:18px;
}

.reset-button:active {
  background-color: darkgray;
}

.reset-button:hover{
  background-color: lightgray;
}

.no-songs-available{
  font-size:30px;
  font-weight: bold;
  margin-top: 50px;
}


.sort-button{
  border-radius:10px;
  margin-right:8px;
  float:left;
  border: 1px solid rgb(105, 105, 105);
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.sort-button:hover{
  background-color: lightgray;
}

.sort-button.selected{
  background-color: rgb(65, 69, 63);
  color:white;
}

.filter-title{
  font-size: 30px;
}

h3 {
  font-size: 30px;
  /* font-weight: lighter; */
}

.add-favorite-words{
  font-size:18px;
}

.fil-sor{
  display: flex;
  justify-content: flex-start;
  /* margin-bottom: 20px; */
  font-size:20px;
  margin-top:10px;
  margin-left:15px;
}
